@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
* {
    margin:0;
    padding:0;
}

/* header section */
.header {
    display: flex;
    justify-content: space-around;
    padding: 5vh;
}
.header img {
    border-radius: 50%;
    border: 2.5px double rgb(100, 0, 10);
}
.nav-menu a {
    margin-left: 2vh;
    font-size: 3.5vh;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.nav-menu a:hover {
    color: rgb(100, 0, 10);
    font-size: 4vh;
}

/* main section index.html */

.intro {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.intro img {
    border-radius: 50%;
    box-shadow: 4px 4px 2px rgb(100, 0, 10);
}

.intro h1 {
    font-size: 8vh;
    margin: 5vh;
    text-shadow: 1px 1px 3px rgb(100, 0, 10);
}

.whoami {
    margin-top: 10vh;
    margin-bottom: 150px;
    font-size: 4vh;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.whoami pre {
    position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 4;
}

@keyframes example {
    0%   {color: rgb(100, 0, 10); left:0px; top:0px;}
    25%  {color: rgb(0, 0, 0); left:50px; top:0px;}
    50%  {color:rgb(100, 0, 10); left:50px; top:50px;}
    75%  {color:rgb(0, 0, 0); left:0px; top:50px;}
    100% {color:rgb(100, 0, 10); left:0px; top:0px;}
  }

/* main about.html */

.greeting, .about {
    text-align: center;
    margin-top: 10vh;
}

.greeting {
    font-size: 3.5vh;
    margin-bottom: 5vh;
    text-shadow: 1px 1px 2px rgb(100, 0, 10);
}

.about {
    font-size: 3vh;
    width: 80%;
    margin: auto;
}

.extra {
    display: flex;
    justify-content: space-around;
    margin: 10vh;
}

.extra a {
    color: rgb(100, 0, 10);
    text-decoration: none;
}

.extra h2:hover {
    color: rgb(0, 0, 0);
    font-size: 3vh;
}

/* main portfolio.html */

.proj1, .proj2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 150px;
}

.proj1 h2 {
    font-size: 6vh;
}
.proj2 h2 {
    font-size: 6vh;
}

.proj1 img {
    margin: 2vh 0;
}

.proj1 p {
    font-size: 3vh;
    text-align: center;
    margin-bottom: 10px;
}
.proj2 img {
    margin: 2vh 0;
}

.proj2 p {
    font-size: 3vh;
    text-align: center;
    margin-bottom: 10px;
}

.proj a {
    color: rgb(100, 0, 10);
    border: 1px solid black;
    text-decoration: none;
    font-size: 3vh;
    padding: 0.3vh;
}
.proj a:hover {
    background-color: rgb(100, 0, 10);
    color: rgb(255, 255, 255);
}


/* footer */

.footer {  
    width: 100%;
    text-align: center;
    background-color: rgb(100, 0, 10);
    color: rgb(255, 255, 255);
}
.footer a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}


/* Contact.html */



.form-div {
    width: 40%;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-family: 'Mooli', sans-serif;
    color: wheat;
    margin-bottom: 100px;
}


.form-div form {
    display: flex;
    flex-direction: column;
    background-color: rgb(100, 0, 10);
    padding: 1rem;
    box-shadow: 2px 2px 3px wheat;
    border-radius: 2%;
}

.form-div form label {
    font-size: 2.8vh;
    margin: 1vh 0;
}

.form-div form input:not([type="submit"]) {
    padding: 6px;
}

textarea {
    margin-bottom: 2vh;
    padding: 6px;
}

.btn {
    width: 10vw;
    margin: auto;
    background-color: rgb(0, 0, 0);
    color: wheat;
}

.btn:hover {
    background-color: wheat;
    color: rgb(100, 0, 10);
}

@media screen and (max-width: 992px) and (min-width: 760px) {

    /* Contact.html */
    .form-div {
        width: 50%;
    }

    /* index.html main */
    .intro h1 {
        font-size: 5vh;
        margin: 3vh;
    }
    
    .whoami {
        margin-bottom: 100px;
        font-size: 3vh;
    }

    /* about.html */
    .about {
        font-size: 3vh;
    }
    .website img {
        width: 200px !important;
        height: 125px !important;
    }
    .youtube img {
        width: 200px !important;
        height: 60px !important;
    }
    .extra {
        margin-bottom: 15vh;
    }
}

@media screen and (max-width: 600px) {
    
    /* Contact.html */
    .form-div {
        width: 80%;
    }

    /* index.html */
    .intro h1 {
        font-size: 4vh;
        margin: 3vh;
    }
    
    .whoami {
        margin-bottom: 100px;
        margin-left: -100px;
        font-size: 2.5vh;
    }

    /* about.html */

    .greeting {
        font-size: 3.5vh;
    }
    
    .about {
        font-size: 2.5vh;
    }
    .website img {
        width: 200px !important;
        height: 125px !important;
    }
    .youtube img {
        width: 200px !important;
        height: 60px !important;
    }
    .extra {
        margin-bottom: 15vh;
    }

}